<template>
  <img
    src="https://www.lepape.com/skin/frontend/lepape/atlas/images/logo.png"
    alt="lepape logo"
  />
</template>

<script></script>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
