<template>
  <div class="main">
    <div>
      <Logo />
      <h1>Level 2 Dynamic Routes from menu component</h1>
      <p>{{ this.$route.params }}</p>
    </div>
  </div>
</template>

<script></script>

<style>
.main {
  margin: 220px auto;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
