<template>
  <div class="main container">
    <div>
      <div class="product-area product-detail s-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-12">
              <div class="product-slider-container arrow-center text-center">
                <div class="product-item">
                  <a href="assets/images/slide1.jpg"
                    ><img
                      v-bind:src="
                        `https://migration.lepape.com/media/catalog/product${image[0].value}`
                      "
                      class="img-fluid"
                      alt=""
                  /></a>
                </div>
              </div>

              <!--<div class="product-details-thumbnail arrow-center text-center">
                <div class="product-item-thumb">
                  <img
                    src="assets/images/thumb1.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="product-item-thumb">
                  <img
                    src="assets/images/thumb2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="product-item-thumb">
                  <img
                    src="assets/images/1011A668-402_2.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="product-item-thumb">
                  <img
                    src="assets/images/1011A668-402_4.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div class="product-item-thumb">
                  <img
                    src="assets/images/1011A668-402_5.jpg"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>-->
            </div>
            <div class="col-lg-7 col-12">
              <div class="product-summery position-relative">
                <div class="product-head">
                  <h1 class="product-title">
                    {{ product.name }}
                  </h1>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="rating-meta d-flex">
                      <div class="rating">
                        <span class="yellow"><i class="fa fa-star"></i></span>
                        <span class="yellow"><i class="fa fa-star"></i></span>
                        <span class="yellow"><i class="fa fa-star"></i></span>
                        <span class="yellow"><i class="fa fa-star"></i></span>
                        <span class="yellow"><i class="fa fa-star"></i></span
                        ><span>1 avis</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <a href="#?"><img src="assets/images/asics.png" alt=""/></a>
                  </div>
                  <div class="col-md-6">
                    <div class="price-box">
                      <span class="regular-price">{{ product.price }} €</span>
                    </div>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>2 X 70.00 € SANS FRAIS</p>
                  </div>
                </div>
                <div class="row product-description">
                  <div class="col-md-6">
                    <p class="stock">
                      <i class="ico ico-bubble-stock-info-right"></i>EN STOCK
                    </p>
                  </div>
                  <div class="col-md-6 text-right">
                    <p>TESTEZ & COMMANDEZ LE EN MAGASIN</p>
                  </div>
                </div>
                <div class="row product-description text-center">
                  <div class="col-12">
                    <p>LIVRÉ SOUS DE 3 À 5 JOURS OUVRÉS</p>
                  </div>
                </div>
                <div class="row product-description text-center">
                  <div class="col-12">
                    <p>LIVRAISON OFFERTE EN FRANCE MÉTROPOLITAINE</p>
                  </div>
                </div>
                <div class="product-buttons grid_list">
                  <div class="action-link">
                    <button
                      class="button btn-secondary"
                      @click.prevent="addToCart(product)"
                    >
                      Ajouter au panier
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-sm-9 col-md-10">
              <div class="product-desc-tab-content">
                <div>
                  <div class="product_description_wrap mt-20">
                    <div class="product_desc">
                      <h2 class="last-title mb-20">Description</h2>
                      {{ desc[0].value }}
                    </div>
                  </div>
                </div>

                <div>
                  <div class="pro__feature mt-20">
                    <h2 class="last-title mb-20">FICHE TECHNIQUE</h2>
                    <ul class="feature_list" v-html="tech[0].value"></ul>
                  </div>
                </div>

                <div><h2 class="last-title mb-20">AVIS CLIENTS</h2></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  async asyncData({ $http, params }) {
    $http.setHeader("Content-Type", "application/json");
    $http.setToken("ytza1vpxpma3u7e65rhobsqtkprlbkyg", "Bearer");
    const res = await $http.$get(
      `/api/V1/products/?searchCriteria[filterGroups][0][filters][0][field]=entity_id&searchCriteria[filterGroups][0][filters][0][value]=${params.ref}&searchCriteria[filterGroups][0][filters][0][condition_type]=eq`
    );
    //console.log(params.id);
    const product = res.items[0];
    const image = product.custom_attributes.filter(
      attr => attr.attribute_code == "image"
    );
    const desc = product.custom_attributes.filter(
      attr => attr.attribute_code == "short_description"
    );
    const tech = product.custom_attributes.filter(
      attr => attr.attribute_code == "description"
    );
    return { product, image, desc, tech };
  },
  methods: {
    async addToCart(data) {
      const wrapped = [data].flat();
      alert(JSON.stringify(wrapped[0].name + " added to cart "));
      this.$axios.setToken(this.token, "Bearer");
      this.$axios.onRequest(config => {
        console.log("Making request to " + config.url);
      });
      const id = await this.$axios.$post("/api/V1/carts/mine");
      const payload = [id, wrapped];
      this.$store.dispatch("cart/addToCart", payload);
      let pre_order = {
        cartItem: {
          sku: wrapped[0].sku,
          qty: 1,
          quote_id: id
        }
      };
      const order = await this.$axios.$post(
        "/api/V1/carts/mine/items",
        pre_order
      );
      console.log(order);
    }
  },
  computed: {
    ...mapGetters({
      token: "login/getToken"
    }),
    groupedProducts() {
      return _.chunk(this.products.items, 3);
    }
  }
};
</script>

<style>
.catalog-product-view .reassurance,
.catalog-product-view .shipping {
  border-top: 1px solid #eee;
  padding: 16px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.column.main .row {
  background-color: transparent !important;
}
.catalog-product-view .reassurance,
.catalog-product-view .shipping {
  border-top: 1px solid #eee;
  padding: 16px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.catalog-product-view .shipping {
  border-bottom: 1px solid #eee;
}
.catalog-product-view .reassurance,
.catalog-product-view .shipping {
  border-top: 1px solid #eee;
  padding: 16px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.catalog-product-view .detailed .nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  font-size: 18px;
  background: transparent;
  margin-bottom: 12px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.catalog-product-view .detailed .tab-content {
  padding: 12px 0;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 24px;
}
.product-info-price,
.price-split {
  width: 50%;
  float: left;
}
.column.main .row {
  background-color: transparent !important;
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.row {
  margin-right: -12px;
  margin-left: -12px;
}
.media:first-child {
  margin-top: 0;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.fotorama {
  min-width: 1px;
  overflow: hidden;
}
.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  direction: ltr;
  position: relative;
  z-index: 0;
}
.fotorama__stage,
.fotorama__nav {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
fotorama-transition-for-slide,
.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  transition-duration: 0ms;
  transition-property: transform, width;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1);
}
.fotorama__stage__shaft {
  position: relative;
}
.fotorama-no-tap,
.fotorama__stage__shaft,
.fotorama__stage__frame,
.fotorama__nav,
.fotorama__nav__shaft,
.fotorama__nav__frame,
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fotorama-stretch,
.fotorama-focus-overlay:after,
.fotorama__stage__shaft,
.fotorama__stage__frame,
.fotorama__html,
.fotorama__video iframe {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 12px;
  padding-left: 12px;
}
.catalog-product-view .actions .tocart {
  width: 100%;
  padding: 16px;
}
.button:hover,
.action.continue:hover {
  background-color: #fff;
  color: #000;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 350ms;
  transition-duration: 350ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button,
.action.continue {
  display: inline-block;
  padding: 12px;
  background-color: #000;
  color: white;
  border: 1px solid #000;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button,
select {
  text-transform: none;
}
button {
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
.column.main .row {
  background-color: transparent !important;
}
.catalog-product-view .reassurance,
.catalog-product-view .shipping {
  border-top: 1px solid #eee;
  padding: 16px 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
</style>
