<template>
  <div class="main">
    <div>
      <div class="product-list">
        <div class="container">
          <div
            v-for="products in groupedProducts"
            :key="products.id"
            class="row"
          >
            <div v-for="product in products" :key="product.id" class="col">
              <div class="card shadow-sm p-3 mb-5 bg-white rounded text-center">
                <a
                  @click="
                    $router.push({
                      name: 'id',
                      params: {
                        id: `${product.name}`,
                        ref: `${product.id}`
                      }
                    })
                  "
                >
                  <img
                    class="card-img-top"
                    v-bind:src="
                      `https://migration.lepape.com/media/catalog/product${product.media_gallery_entries[0].file}`
                    "
                    alt="Card image cap"
                    style="width: 100px;"
                /></a>
                <div class="card-body">
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">{{ product.price }} €</p>
                  <button
                    @click.prevent="addToCart(product)"
                    type="button"
                    title="Ajouter au panier"
                    class="action"
                  >
                    <span>Ajouter au panier</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      querries: [
        {
          id: 2020,
          list_1: "2022,2023,2025,2024,2026",
          list_2: "2028,2029,2031,2030,2032"
        },
        {
          id: 2033,
          list_1: "2035,2037,2036",
          list_2: "2038,2039,2420,2040,2041",
          list_3: "2042,6804,2043,2044",
          list_4: "2046,2047,2048",
          list_5: "2049,2050,2421,2051,2052",
          list_6: "2053,6805,2054,2055"
        }
      ]
    };
  },
  async asyncData({ $http, params }) {
    $http.setHeader("Content-Type", "application/json");
    $http.setToken("ytza1vpxpma3u7e65rhobsqtkprlbkyg", "Bearer");
    const products = await $http.$get(
      "/api/V1/products/?searchCriteria[filterGroups][0][filters][0][field]=category_id&searchCriteria[filterGroups][0][filters][0][value]=2062&searchCriteria[filterGroups][0][filters][0][conditionType]=in"
    );
    //console.log(params.id);
    return { products };
  },
  methods: {
    async addToCart(data) {
      const wrapped = [data].flat();
      alert(JSON.stringify(wrapped[0].name + " added to cart "));
      this.$axios.setToken(this.token, "Bearer");
      this.$axios.onRequest(config => {
        console.log("Making request to " + config.url);
      });
      const id = await this.$axios.$post("/api/V1/carts/mine");
      const payload = [id, wrapped];
      this.$store.dispatch("cart/addToCart", payload);
      let pre_order = {
        cartItem: {
          sku: wrapped[0].sku,
          qty: 1,
          quote_id: id
        }
      };
      const order = await this.$axios.$post(
        "/api/V1/carts/mine/items",
        pre_order
      );
      console.log(order);
    }
  },
  computed: {
    ...mapGetters({
      token: "login/getToken"
    }),
    groupedProducts() {
      return _.chunk(this.products.items, 3);
    }
  }
};
</script>

<style>
.main {
  margin: 220px auto;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card {
  align-items: center;
  margin-bottom: 10px;
}
.action {
  color: #000;
  background: #fff;
  border-color: #000;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 10px;
  font-size: 13px;
  border-radius: 0;
  font-weight: 600 !important;
  padding: 16px;
  line-height: 12px !important;
}
</style>
