<template>
  <div>
    <div class="container col-main">
      <div class="cart">
        <div class="row page-title">
          <div class="col-sm-12 col-md-6">
            <h1>Panier</h1>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <a class="continue-shopping" href="/">
              Continuer vos achats
              <i class="ico ico-arrow-right-dot"></i>
            </a>
          </div>
        </div>
        <form class="the-cart-form" action method="post">
          <input name="form_key" type="hidden" value="Nsd9ub4MPFnc9zaU" />
          <table class="cart-table">
            <thead>
              <th class="col-xs-2">&nbsp;</th>
              <th class="col-xs-5">Nom du produit</th>
              <!--<th class="col-xs-1">&nbsp;</th>-->
              <th class="col-xs-1 text-center">Prix unitaire</th>
              <!--<th class="col-xs-1 text-center">Quantité</th>
              <th class="col-xs-1 text-center">Sous total</th>
              <th class="col-xs-1">&nbsp;</th>-->
            </thead>
            <tbody>
              <tr v-for="product in getCart.items" :key="product._id">
                <td class="column product-image">
                  <a class="product-image">
                    <img
                      class="card-img-top"
                      v-bind:src="
                        `https://migration.lepape.com/media/catalog/product${product.media_gallery_entries[0].file}`
                      "
                      alt="Card image cap"
                      style="width: 100px;"
                    />
                  </a>
                </td>
                <td class="column product-name">
                  <h2>
                    <a>{{ product.name }}</a>
                  </h2>
                </td>
                <!--<td class="column text-center edit">
                  <a
                    href="https://www.lepape.com/checkout/cart/configure/id/11454878/"
                    title="Éditer les paramètres de l'article"
                    >Éditer</a
                  >
                </td>-->
                <td class="column text-center product-price">
                  <p>
                    <span class="cart-price">
                      <span class="price">{{ product.price }} €</span>
                    </span>
                  </p>
                </td>
                <!--<td class="column text-center product-qty">
                  <input
                    v-model="value[product._id]"
                    :test="
                      !value[product._id]
                        ? (value[product._id] = product.qty)
                        : true
                    "
                    :key="product._id"
                    @change="onKeyUp(product._id, value[product._id])"
                    size="1"
                    title="Qté"
                    class="input-text qty"
                    maxlength="12"
                  />
                </td>
                <td class="column text-center product-total">
                  <p>
                    <span class="cart-price">
                      <span class="price"
                        >{{ product.price * product.qty }} €</span
                      >
                    </span>
                  </p>
                </td>-->
              </tr>
            </tbody>
          </table>
          <div class="row foot">
            <div class="col-xs-12 col-md-6 pull-right text-right">
              <button type="button" class="btn">
                <span>
                  <span>Vider le panier</span>
                </span>
              </button>
            </div>
            <div class="col-xs-12 col-md-6 pull-left hidden-xs hidden-sm">
              <button type="submit" class="btn btn-order">
                <span>
                  <span>Commander</span>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      cart: [],
      value: [],
      update: [],
      offline: []
    };
  },
  computed: {
    ...mapGetters({
      getCart: "cart/getCart"
    })
  },
  mounted() {},
  watch: {},
  methods: {
    emptyCart() {
      this.$store.dispatch("cart/emptyCart");
    },
    onKeyUp(_id, value) {
      this.update.push({ _id: _id, value: value });
    }
  }
};
</script>

<style>
.btn {
  display: inline-block;
  border: 1px solid #000;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  cursor: pointer;
  padding: 10px 25px;
}
.btn-order {
  background-color: red;
  color: white;
}
</style>
