<template>
  <div>
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col-sm">
          <form action="">
            <label class="required" for="fname">Email</label>
            <input type="email" id="fname" name="email" v-model="email" />

            <label class="required" for="lname">Mot de passe</label>
            <input
              type="password"
              id="lname"
              name="password"
              v-model="password"
            />

            <button
              class="send"
              @click.prevent="getCredentials(email, password)"
            >
              Se Connecter
            </button>
          </form>
        </div>
        <div class="col-sm">
          <div>
            <h3>Nouveaux Clients</h3>
            <p>
              La création d'un compte présente de nombreux avantages : paiement
              plus rapide, conservation de plusieurs adresses, suivi des
              commandes, etc.
            </p>
          </div>
          <NuxtLink to="/register">
            <input type="submit" value="Créer un compte" />
          </NuxtLink>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      password: "",
      email: "",
      token: ""
    };
  },
  methods: {
    async getCredentials(email, password) {
      let formData = new FormData();
      formData.append("username", email);
      formData.append("password", password);
      this.$axios.onRequest(config => {
        console.log("Making request to " + config.url);
      });
      this.token = await this.$axios.$post(
        "/api/V1/integration/customer/token",
        formData
      );
      this.$store.commit("login/SET_TOKEN", this.token);
      this.$router.push("/");
    }
  }
};
</script>

<style>
input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"] select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
.send {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.required:after {
  content: " *";
  color: red;
}
</style>
