<template>
  <div>
    <div class="container">
      <div class="row pt-5 pb-5">
        <div class="col ">
          <form action="">
            <label class="required" for="fname">Prénom</label>
            <input type="text" name="firstName" v-model="firstName" />

            <label class="required" for="fname">Nom</label>
            <input type="text" name="lastName" v-model="lastName" />

            <label for="birthday">Birthday:</label>
            <input type="date" name="birthday" v-model="birthday" />

            <label class="required" for="gender">Civilité</label>
            <select name="gender" v-model="gender">
              <option disabled value=""></option>
              <option value="48">Monsieur</option>
              <option value="49">Madame</option>
            </select>

            <label class="required" for="fname">Email</label>
            <input type="email" name="email" v-model="email" />

            <label class="required" for="lname">Mot de passe</label>
            <input type="password" name="password_1" v-model="password_1" />

            <label class="required" for="lname"
              >Confirmez le mot de passe</label
            >
            <input type="password" name="password_2" v-model="password_2" />
            <button
              class="send"
              @click.prevent="
                getCredentials(
                  firstName,
                  lastName,
                  birthday,
                  gender,
                  email,
                  password_1,
                  password_2
                )
              "
            >
              Créer un compte
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      password_1: "",
      password_2: "",
      email: "",
      firstName: "",
      lastName: "",
      birthday: "",
      gender: "",
      user: [],
      token: ""
    };
  },
  methods: {
    async getCredentials(
      firstName,
      lastName,
      birthday,
      gender,
      email,
      password_1,
      password_2
    ) {
      let loginData = new FormData();
      loginData.append("username", email);
      let user = {
        customer: {
          email: email,
          firstname: firstName,
          lastname: lastName,
          gender: gender
        },
        password: ""
      };

      if (password_1 === password_2) {
        user.password = password_1;
        loginData.append("password", password_1);
      } else {
        alert("Passwords don't match!! please check agian ...");
      }

      this.$axios.onRequest(config => {
        console.log("Making request to " + config.url);
      });
      this.user = await this.$axios.$post("/api/V1/customers", user);
      this.token = await this.$axios.$post(
        "/api/V1/integration/customer/token",
        loginData
      );
      this.$store.commit("login/SET_TOKEN", this.token);
      this.$router.push("/");
    }
  }
};
</script>

<style>
input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.required:after {
  content: " *";
  color: red;
}
</style>
